@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:100,300,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:800';


div { borqqder: 1px solid red; }

body {
	font-qqfamily: "Libre Franklin", sans-serif;
	font-size: 16px;
	line-height: 1.55;
	color: #444;
	background-color: #fff;
	margin: 0;
	letter-spacing: .015em; /* for Libre Franklin; looks nicer */
}

.display-5 { color: rgba(255,255,255,.5); }

h3, .h3 {
	font-size: 1.45em; line-height: 1.3; font-weight: 600; letter-spacing: .02em; text-align: left;
}
.classindex h3 { margin: 1rem 0 .5rem 0; }
.classindex h3 small { line-height: .5rem; }
h4, .h4 { font-size: 1.3em; line-height: 1.5; font-weight: 700; color: #aaa; letter-spacing: 0; }

.ident { height: 1rem; width: 100%; }
.header-uvuasl { background: #334657; }
.header-3310 { background: #F6511D; }
.header-3330 { background: #FFB400; }
.header-3350 { background: #00c2e0; }
.header-3360 { background: #ff78cb; }
.header-3370 { background: #7FB800; }
.header-3380 { background: #c377e0; }
.header-439R { background: #0079bf; }
.header-uvuasl {
	background: rgba(17,60,97,1);
	/* Old Browsers */background: -moz-linear-gradient(-45deg, rgba(17,60,97,1) 0%, rgba(31,80,135,1) 72%, rgba(31,80,135,1) 100%);
	 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(17,60,97,1)), color-stop(72%, rgba(31,80,135,1)), color-stop(100%, rgba(31,80,135,1)));
	/* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, rgba(17,60,97,1) 0%, rgba(31,80,135,1) 72%, rgba(31,80,135,1) 100%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, rgba(17,60,97,1) 0%, rgba(31,80,135,1) 72%, rgba(31,80,135,1) 100%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, rgba(17,60,97,1) 0%, rgba(31,80,135,1) 72%, rgba(31,80,135,1) 100%);
	 /* IE 10+ */background: linear-gradient(135deg, rgba(17,60,97,1) 0%, rgba(31,80,135,1) 72%, rgba(31,80,135,1) 100%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#113c61', endColorstr='#1f5087', GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
}


nav { background: rgba(0,0,0,.5); box-shadow: 0 20px 35px rgba(0,0,0,.1); }
    .navbar-brand { font-weight: 700; }

header { background: rgba(0,0,0,.5); text-align: center; padding: 8em 3em 3em 3em; }
    .search-bar { margin: 3em 0; }

/*
    .im-looking-for {
        position: relative;
        padding: 0;
        text-align: left;
        margin: 1em 0 0 0;
    }
    .im-looking-for>[class*='col-'] {
        position: static;
    }
    .im-looking-for>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid rgba(255,255,255,.2);
        position: absolute;
        top: 0;
        bottom: 0;
    }
*/
    .im-looking-for a { color: rgba(255,255,255,.7); }


.dropdown-menu { border: none; padding: 1.1em .4em; }





header.course { padding: 8em 3em 0 3em; background: rgba(0,0,255,.1); }
    .nav-tabs { border-bottom: 1px solid rgba(255,255,255,1); }
    .nav-tabs .nav-link.active { border: 1px solid rgba(255,255,255,1); }
    .nav-tabs .nav-link { border-bottom: none; }
    .nav-tabs .nav-link:hover { border: 1px solid rgba(0,0,0,.001); background: rgba(0,0,0,.08); }


.hide { display: none; visibility: hidden; }

article { padding: 3em; }
    .card-img-top { width: 100%; border-top: 6px solid #f00; }
    small { font-size: 75%; line-height: 2em; }

    .schedule-unit { padding: 2em 0 1em 0; border: 1px solid #eee; border-width: 1px 0 0 0; }
    .schedule-unit h2, .schedule-unit .h2 {
    	font-size: 32px; padding: 0; margin: 0 0 .5em 0; line-height: .8;
    }
    .schedule-unit h3 { margin: 0 0 .25em 0; }

    .badge { padding: .5em; }

    .caqqrd { padding: 0 1em; }
    .resources h3 { padding: 1em 0 0 0; margin: .8em 0 0 0; border: 1px solid rgba(0,0,0,.1); border-width: 1px 0 0 0; color: #666; }
    .resoqqurces .card h3 { border: 1px solid #d9d9d9; border-width: 1px 0 0 0;}
    .resqqources h3.header { padding: 0; margin: .5em 0 0 0; border: 0; border-width: 0; }
    .card-header { padding: .75em 1em; }

    .classindex { }
        .classindex img { margin: 0 0 1em 0; height: 200px; width: 100%; }

    .display-5 {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.1;
    }

    .alert { padding: 1em 1.25em; }

footer { background: rgba(0,0,0,.13); padding: 3em;}
    fooqqter li { padding: .25em 0; border: 1px solid rgba(0,0,0,.1); border-width: 1px 0 0 0; }



@media (max-width: 992px) {
    .popular-searches { margin: 1em 0 0 0; }

    div.im-looking-for { text-align: center; padqqding: 1em 0; margin: 0; border: 1px solid rgba(255,255,255,.3); border-width: 1px 0 0 0; }
    div.im-looking-for a { padding: 1em 0; }
    }

@media (min-width: 992px) {
  .nav-link { padding: .5em 2em; }
}
